.guide {
    margin: auto;

    &__info {
        width: 100%;
        background-color: #181818bb;
        font-size: 0.7rem;
    }

    &__padd {
        padding: 0;
    }

    &__article {
        .img-cien {
            width: 100%;
            height: 100%;
        }
    }
}