.new {

    &__article {
        margin-top: 10px;
        border-bottom: $linea-gris;
        padding-bottom: 20px;

        .enlace__img {
            width: 100%;
            min-height: 260px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .5s;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }

        .info {
            padding: 1px;
            position: relative;

            a {
                color: white;
            }

            .etiqueta {
                display: inline;
                padding: 3px 10px;
                font-size: 1rem;
                background-color: $color-primario;
            }

            .titulo {
                margin-top: 10px;
            }

            .data {
                i {
                    margin: 0px 10px 10px;
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }

            .more {
                position: absolute;
                bottom: 0;
                text-align: center;
                border-bottom: 1px solid white;
                i {
                    margin-left: 5px;
                    transition: transform .5s;
                }

                &:hover {
                    color: $color-primario;
                    border-bottom: 1px solid $color-primario;

                    i {
                        color: $color-primario;
                        transform: translate(5px);
                    }
                }
            }

            @include mobile-md {
                margin-left: 10px;
                width: 150%;
            }
        }

        @include mobile-md {
            display: flex;
        }
    }
}

.category {
    margin-bottom: 20px;

    h4 {
        margin: 0;
        margin-top: 10px;
    }
}