.boton {

    &__carousel {
        display: inline-block;
        padding: 1px 20px;
        position: relative;
        overflow: hidden;
        border: 1px solid #ffffff;
        transition: color .5s;
        transition: border .5s;
        z-index: 1;
        font-size: 1.5rem;
        border-radius: 6px;
        font-weight: 500;
        color: #ffffff;
        background-color: $color-secundario;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background-color: $color-primario;
            height: 150px;
            width: 200px;
            border-radius: 50%;
        }

        &:hover {
            border: 1px solid $color-primario;
            color: $color-secundario;
        }

        &:before {
            top: 100%;
            left: 100%;
            transition: all .7s;
        }

        &:hover:before {
            top: -30px;
            left: -30px;
        }

        &:active:before {
            transition: background 0s;
        }
    }

    &__unete {
        background-color: #181818;
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 10px 30px;
        width: 100%;

        &:hover {
            background-color: red;
        }
    }

    &__category {
        width: 100%;
        background-color: #181818;
        text-align: left;
        padding: 5px;
        border: $linea-gris;

        &:hover {
            background-color: #222222;
        }
    }

    &__num {
        background-color: #181818;
        border: $linea-gris;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 0px 5px 10px 0px;

        &:hover {
            background-color: #222222;
        }
    }

}