.spam {

    &__lateral {
        background-color: rgb(192, 0, 0);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        object-fit: contain;
        border-radius: 10px;

        &__logo {
            width: 100%;
        }

        p {
            font-size: 0.7rem;
            margin-bottom: 5px;
        }

        &__img {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }
}