* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'inter', sans-serif;
}

.row {
    margin: 0;
}

:root {
    background-color: rgb(18, 18, 18);
}

body {
    background-color: rgb(18, 18, 18);
}

.cuerpo {
    margin: 20px;

    @include mobile-lg {
        display: grid;
        grid-template-columns: 75% 25%;
    }
}

.container {
    @include mobile-lg {
        max-width: 1000px;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 0px;

    &-track {
        border-radius: 5px;
        background-color: $color-secundario;
    }

    &-thumb {
        background: #4d4d4d;
        border-radius: 10px;
    }
}

.pulsa:hover {
    -webkit-animation: pulsa 1.5s ease-in-out infinite both;
    animation: pulsa 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsa {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes pulsa {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}