@font-face {
    font-family: "inter";
    src: url(../font/inter.ttf);
}

@font-face {
    font-family: "kenya";
    src: url(../font/kenya.ttf);
}

.ff-kenya {
    font-family: 'kenya';
}

h1 {
    display: none;
}

a {
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid white;
    margin-bottom: 0;

    span {
        font-size: 1.5rem;
        background-color: #fff;
        display: inline-block;
        margin: 0;
        padding: 3px;
        color: $color-secundario;
    }
}